<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Performance Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1>Student Performance Dashboard</h1>

<div class="stats">
    <div class="card">
        <h3>Average Marks</h3>
        <p id="average"></p>
    </div>

    <div class="card">
        <h3>Topper</h3>
        <p id="topper"></p>
    </div>

    <div class="card">
        <h3>Pass Percentage</h3>
        <p id="pass"></p>
    </div>
</div>

<h2>Subject Wise Average</h2>
<canvas id="subjectChart"></canvas>

<script src="/static/script.js"></script>

</body>
</html>